<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Outbound connections for SSH -->
    <key>com.apple.security.network.client</key>
    <true/>
    <!-- Inbound connections for sshuttle's local proxy -->
    <key>com.apple.security.network.server</key>
    <true/>
</dict>
</plist>
